html {
  margin: 0;
}
body {
 
  background-image: url("https://vignette.wikia.nocookie.net/simpsons/images/5/50/Wiki-background/revision/latest?cb=20111015160455");
  font-family: 'McLaren', cursive;
  color:black;
  font-weight: bold;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: center; 
  background-size: cover;


}
